# Example .env configuration
PORT=3000

# API Keys
SONARR_API_KEY=0ae2c85f7dfa429d9e0a4c628155f989
RADARR_API_KEY=a0983243698c41cbb37db755d9fd016d
ADGUARD_API_KEY=your_adguard_api_key
HOMEASSISTANT_TOKEN=your_ha_long_lived_access_token
TAUTULLI_API_KEY=MMdWwbrzfgjwEBmqhWTVO6vvXTC9UYYk
overseerr_api_key=MTcyODE2NTQ4NDQ4NGZjMDgxZmZkLWU4YmEtNGFmMi05ODU2LTcxODE1ZmI0MTZhYw==

# IP Addresses
UNRAID_IP=192.168.0.100
HOMEASSISTANT_IP=192.168.0.x
